body {
  font-family: "Montserrat Alternates", sans-serif;
  color: #22313f;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 45px;
  display: inline;
}

h3 {
  font-weight: 100;
  font-size: 18px;
  display: inline;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-temperature {
  padding-bottom: 5px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rbg(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(135, 135, 135);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

#weather-details {
  text-align: right;
  margin-right: 20px;
}

h3#metric-select-c {
  cursor: pointer;
}

h3#metric-select-f {
  cursor: pointer;
}

h5 {
  font-weight: 100;
}

small {
  padding: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  min-width: 558px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.weather-app {
  padding: 20px;
  border: 1px solid #bdc1c6;
  border-radius: 20px;
}

.container {
  margin: 0;
}

.container-daily {
  padding: 20px;
}

.current-icon {
  font-size: 75px;
  margin-left: 50px;
  color: #34495e;
}

.current-weather {
  margin: 25px;
}

.metric {
  margin: 25px;
}

h3.metric-select:hover {
  cursor: pointer;
}

.search {
  padding: 25px 0;
}

.cond-icons {
  font-size: 35px;
  color: #34495e;
}

.days {
  text-decoration: underline;
}

.hi-lo {
  position: relative;
  top: 20px;
}

.row {
  flex-wrap: nowrap;
}

.five-day {
  text-align: right;
  font-weight: 300;
}

.card-body {
  background: rgb(141, 198, 255, 0.2);
}

.card-header {
  background: rgb(34, 49, 63, 0.3);
}
