body {
  font-family: "Montserrat Alternates", sans-serif;
  color: #22313f;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 45px;
  display: inline;
}

h3 {
  font-weight: 100;
  font-size: 18px;
  display: inline;
}

h3#metric-select-c {
  cursor: pointer;
}

h3#metric-select-f {
  cursor: pointer;
}

h5 {
  font-weight: 100;
}

small {
  padding: 40px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #bdc1c6;
  border-radius: 25px;
}

#search-form {
  padding: 25px;
}

.container {
  margin: 0;
  text-align: center;
}

.current-icon {
  font-size: 75px;
  margin-left: 50px;
  color: #34495e;
}

.current-weather {
  margin: 25px;
}

.metric {
  margin: 25px;
}

h3.metric-select:hover {
  cursor: pointer;
}

.search {
  padding: 25px 0;
}

.cond-icons {
  font-size: 35px;
  color: #34495e;
}

.days {
  text-decoration: underline;
}

.hi-lo {
  position: relative;
  top: 20px;
}

.row {
  flex-wrap: nowrap;
}

.five-day {
  text-align: right;
  font-weight: 300;
}

.card-body {
  background: rgb(141, 198, 255, 0.2);
}

.card-header {
  background: rgb(34, 49, 63, 0.3);
}
